In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler, KBinsDiscretizer

# Customer Churn Dataset

In [374]:
df = pd.read_csv('./data/cust_churn.csv')

In [375]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [376]:
print(f'There are {df.shape} data in the dataset initially')

There are (7043, 21) data in the dataset initially

In [237]:
# checking to see the number of null values in the dataframe
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [238]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [377]:
# drop the missing labels in the dataset
print(len(df))

df.dropna(axis=0, subset=['Churn'])

print(len(df))

7043
7043

In [378]:
# drop the customer ID column in the dataset
df.drop('customerID', axis=1, inplace=True)

df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [379]:
# converting the labels(y) to numeric labels
label_encoder = preprocessing.LabelEncoder()
df['Churn'] = label_encoder.fit_transform(df['Churn'])

In [380]:
print("\nMissing values :  ", df.isnull().sum().values.sum())

Missing values :   0

In [80]:
# checking to see if there is any white space in any of the columns, if so convert them to null value

def get_whitespace_count(df):
    columns = df.columns
    dict = {}
    for col in columns:
        dict[col] = df[col].str.isspace().sum() if df[col].dtype == 'object' else -1

    print(dict)

get_whitespace_count(df)

{'age': 0, 'workclass': 0, 'fnlwgt': -1, 'education': 0, 'education-num': -1, 'marital-status': 0, 'occupation': 0, 'relationship': 0, 'race': 0, 'sex': 0, 'capital-gain': -1, 'capital-loss': -1, 'hours-per-week': -1, 'native-country': 0, 'income': -1}

In [382]:
df = df.replace(r'^\s*$', np.NaN, regex=True)
get_whitespace_count(df)

{'gender': 0, 'SeniorCitizen': -1, 'Partner': 0, 'Dependents': 0, 'tenure': -1, 'PhoneService': 0, 'MultipleLines': 0, 'InternetService': 0, 'OnlineSecurity': 0, 'OnlineBackup': 0, 'DeviceProtection': 0, 'TechSupport': 0, 'StreamingTV': 0, 'StreamingMovies': 0, 'Contract': 0, 'PaperlessBilling': 0, 'PaymentMethod': 0, 'MonthlyCharges': -1, 'TotalCharges': 0, 'Churn': -1}

In [383]:
print("\nMissing values :  ", df.isnull().sum().values.sum())

Missing values :   11

In [384]:
print("\nMissing values :  ", df.isnull().sum())

Missing values :   gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [385]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], downcast="float")

In [386]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float32
Churn                 int64
dtype: object

In [387]:
df['TotalCharges'].fillna(value=df['TotalCharges'].mean(), inplace=True)

In [388]:
print("\nMissing values :  ", df.isnull().sum())

Missing values :   gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [389]:
df['Churn'].value_counts()

0    5174
1    1869
Name: Churn, dtype: int64

## So there is class imbalance in the dataset

# Converting non numerical values to one hot encoded values

In [390]:
# first we separate the numerical and categorical features
num_cols = df._get_numeric_data().columns
columns = df.columns
categorical_cols = list(set(columns) - set(num_cols))

In [391]:
print(categorical_cols)
print(num_cols)

['OnlineBackup', 'DeviceProtection', 'OnlineSecurity', 'Contract', 'PhoneService', 'StreamingTV', 'Dependents', 'StreamingMovies', 'PaymentMethod', 'InternetService', 'TechSupport', 'PaperlessBilling', 'gender', 'MultipleLines', 'Partner']
Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges', 'Churn'], dtype='object')

In [392]:
cat_df = df.copy()
cat_df = cat_df.select_dtypes(include=['object'])
cat_df.head()

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
0,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check
1,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check
2,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check
3,Male,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic)
4,Female,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check

In [393]:
cat_df['DeviceProtection'].value_counts()

No                     3095
Yes                    2422
No internet service    1526
Name: DeviceProtection, dtype: int64

In [394]:
test = pd.get_dummies(cat_df, columns=categorical_cols).head()

test.columns

Index(['OnlineBackup_No', 'OnlineBackup_No internet service',
       'OnlineBackup_Yes', 'DeviceProtection_No',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes',
       'OnlineSecurity_No', 'OnlineSecurity_No internet service',
       'OnlineSecurity_Yes', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PhoneService_No', 'PhoneService_Yes',
       'StreamingTV_No', 'StreamingTV_No internet service', 'StreamingTV_Yes',
       'Dependents_No', 'Dependents_Yes', 'StreamingMovies_No',
       'StreamingMovies_No internet service', 'StreamingMovies_Yes',
       'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'TechSupport_No',
       'TechSupport_No internet service', 'TechSupport_Yes',
       'PaperlessBilling_No', 'PaperlessBilling_Yes', 'gender_Female',
       'gender_Male', 'MultipleLines_No', 'MultipleLines_No phone service',
       'MultipleLines_Yes', 'Partner_No', 'Partner_Yes'],
      dtype='object')

In [395]:
numerical_df = df.select_dtypes(exclude=['object'])
numerical_df['SeniorCitizen'].value_counts()

0    5901
1    1142
Name: SeniorCitizen, dtype: int64

In [396]:
numerical_df['tenure'].value_counts()

1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64

In [397]:
numerical_df['TotalCharges'].value_counts()

2283.300537    11
20.200001      11
19.750000       9
20.049999       8
19.900000       8
               ..
6849.399902     1
692.349976      1
130.149994      1
3211.899902     1
6844.500000     1
Name: TotalCharges, Length: 6531, dtype: int64

In [398]:
numerical_df['MonthlyCharges'].value_counts()

20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
23.65      1
114.70     1
43.65      1
87.80      1
78.70      1
Name: MonthlyCharges, Length: 1585, dtype: int64

In [399]:
numerical_df['Churn'].value_counts()

0    5174
1    1869
Name: Churn, dtype: int64

In [400]:
# The real conversion of catgorical to numerical
df = pd.get_dummies(df, columns=categorical_cols)

In [401]:
df.shape

(7043, 46)

In [266]:
test_df_1 = df.copy()

df.shape == test_df_1.sha

True

In [267]:
test_df_1.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,OnlineBackup_No,OnlineBackup_No internet service,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_No internet service,...,TechSupport_Yes,PaperlessBilling_No,PaperlessBilling_Yes,gender_Female,gender_Male,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,Partner_No,Partner_Yes
0,0,1,29.85,29.850000,0,0,0,1,1,0,...,0,0,1,1,0,0,1,0,0,1
1,0,34,56.95,1889.500000,0,1,0,0,0,0,...,0,1,0,0,1,1,0,0,1,0
2,0,2,53.85,108.150002,1,0,0,1,1,0,...,0,0,1,0,1,1,0,0,1,0
3,0,45,42.30,1840.750000,0,1,0,0,0,0,...,1,1,0,0,1,0,1,0,1,0
4,0,2,70.70,151.649994,1,1,0,0,1,0,...,0,0,1,1,0,1,0,0,1,0

In [268]:
num_cols_bin_cands = list(num_cols)
num_cols_bin_cands.remove('SeniorCitizen')
num_cols_bin_cands.remove('Churn')
print(num_cols_bin_cands)

for col in num_cols_bin_cands:
    print(col)
    est = KBinsDiscretizer(n_bins=3, encode='ordinal', strategy='uniform')
    test_df_1[col] = est.fit_transform(test_df_1[[col]])

['tenure', 'MonthlyCharges', 'TotalCharges']
tenure
MonthlyCharges
TotalCharges

In [269]:
test_df_1.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,OnlineBackup_No,OnlineBackup_No internet service,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_No internet service,...,TechSupport_Yes,PaperlessBilling_No,PaperlessBilling_Yes,gender_Female,gender_Male,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,Partner_No,Partner_Yes
0,0,0.0,0.0,0.0,0,0,0,1,1,0,...,0,0,1,1,0,0,1,0,0,1
1,0,1.0,1.0,0.0,0,1,0,0,0,0,...,0,1,0,0,1,1,0,0,1,0
2,0,0.0,1.0,0.0,1,0,0,1,1,0,...,0,0,1,0,1,1,0,0,1,0
3,0,1.0,0.0,0.0,0,1,0,0,0,0,...,1,1,0,0,1,0,1,0,1,0
4,0,0.0,1.0,0.0,1,1,0,0,1,0,...,0,0,1,1,0,1,0,0,1,0

In [270]:
y = test_df_1['Churn']
X = test_df_1.drop('Churn', axis=1)

In [275]:
X.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,OnlineBackup_No,OnlineBackup_No internet service,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_No internet service,DeviceProtection_Yes,...,TechSupport_Yes,PaperlessBilling_No,PaperlessBilling_Yes,gender_Female,gender_Male,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,Partner_No,Partner_Yes
0,0,0.0,0.0,0.0,0,0,1,1,0,0,...,0,0,1,1,0,0,1,0,0,1
1,0,1.0,1.0,0.0,1,0,0,0,0,1,...,0,1,0,0,1,1,0,0,1,0
2,0,0.0,1.0,0.0,0,0,1,1,0,0,...,0,0,1,0,1,1,0,0,1,0
3,0,1.0,0.0,0.0,1,0,0,0,0,1,...,1,1,0,0,1,0,1,0,1,0
4,0,0.0,1.0,0.0,1,0,0,1,0,0,...,0,0,1,1,0,1,0,0,1,0

In [273]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=1)
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

0.8019872249822569

In [276]:
## Without binning the continous vars

In [277]:
test_df_2 = df.copy()

In [279]:
test_df_2.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,OnlineBackup_No,OnlineBackup_No internet service,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_No internet service,...,TechSupport_Yes,PaperlessBilling_No,PaperlessBilling_Yes,gender_Female,gender_Male,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,Partner_No,Partner_Yes
0,0,1,29.85,29.850000,0,0,0,1,1,0,...,0,0,1,1,0,0,1,0,0,1
1,0,34,56.95,1889.500000,0,1,0,0,0,0,...,0,1,0,0,1,1,0,0,1,0
2,0,2,53.85,108.150002,1,0,0,1,1,0,...,0,0,1,0,1,1,0,0,1,0
3,0,45,42.30,1840.750000,0,1,0,0,0,0,...,1,1,0,0,1,0,1,0,1,0
4,0,2,70.70,151.649994,1,1,0,0,1,0,...,0,0,1,1,0,1,0,0,1,0

In [281]:
y = test_df_2['Churn']
X = test_df_2.drop('Churn', axis=1)

assert X.shape[0] == y.shape[0]

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=1)
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

/home/akil/anaconda3/envs/ai/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.815471965933286

In [287]:
# scaling the full dataset
X_scaler = StandardScaler().fit_transform(X)

In [289]:
X_train, X_test, y_train, y_test = train_test_split(X_scaler,y,test_size=0.2,random_state=1)
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

0.8119233498935415

In [290]:
num_cols_bin_cands

['tenure', 'MonthlyCharges', 'TotalCharges']

In [291]:
# scaling only numerical cols
test_df_3 = df.copy()

for col in num_cols_bin_cands:
    test_df_3[col] = StandardScaler().fit_transform(test_df_3[[col]])

In [292]:
test_df_3.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,OnlineBackup_No,OnlineBackup_No internet service,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_No internet service,...,TechSupport_Yes,PaperlessBilling_No,PaperlessBilling_Yes,gender_Female,gender_Male,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,Partner_No,Partner_Yes
0,0,-1.277445,-1.160323,-0.994971,0,0,0,1,1,0,...,0,0,1,1,0,0,1,0,0,1
1,0,0.066327,-0.259629,-0.173876,0,1,0,0,0,0,...,0,1,0,0,1,1,0,0,1,0
2,0,-1.236724,-0.362660,-0.960399,1,0,0,1,1,0,...,0,0,1,0,1,1,0,0,1,0
3,0,0.514251,-0.746535,-0.195400,0,1,0,0,0,0,...,1,1,0,0,1,0,1,0,1,0
4,0,-1.236724,0.197365,-0.941193,1,1,0,0,1,0,...,0,0,1,1,0,1,0,0,1,0

In [293]:
y = test_df_3['Churn']
X = test_df_3.drop('Churn', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=1)
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

0.8119233498935415

In [298]:
# lets try with minmaxscaler

# scaling only numerical cols
test_df_4 = df.copy()

for col in num_cols_bin_cands:
    test_df_4[col] = MinMaxScaler().fit_transform(test_df_4[[col]])


test_df_4.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,OnlineBackup_No,OnlineBackup_No internet service,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_No internet service,...,TechSupport_Yes,PaperlessBilling_No,PaperlessBilling_Yes,gender_Female,gender_Male,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,Partner_No,Partner_Yes
0,0,0.013889,0.115423,0.001275,0,0,0,1,1,0,...,0,0,1,1,0,0,1,0,0,1
1,0,0.472222,0.385075,0.215867,0,1,0,0,0,0,...,0,1,0,0,1,1,0,0,1,0
2,0,0.027778,0.354229,0.010310,1,0,0,1,1,0,...,0,0,1,0,1,1,0,0,1,0
3,0,0.625000,0.239303,0.210241,0,1,0,0,0,0,...,1,1,0,0,1,0,1,0,1,0
4,0,0.027778,0.521891,0.015330,1,1,0,0,1,0,...,0,0,1,1,0,1,0,0,1,0

In [299]:
y = test_df_4['Churn']
X = test_df_4.drop('Churn', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=1)
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

/home/akil/anaconda3/envs/ai/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8112136266855926

In [373]:
df.columns

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'Churn', 'StreamingTV_No',
       'StreamingTV_No internet service', 'StreamingTV_Yes', 'Dependents_No',
       'Dependents_Yes', 'InternetService_DSL',
       ...
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'TechSupport_No', 'TechSupport_No internet service', 'TechSupport_Yes',
       'PaperlessBilling_No', 'PaperlessBilling_Yes', 'gender_Female',
       'gender_Male'],
      dtype='object', length=6576)

In [414]:
def preprocess_churn_data(df, label):

    # # then we see information about dataset
    print(df.info())

    #print(df.dtypes)

    # drop the missing labels in the dataset
    print(len(df))

    df.dropna(axis=0, subset=[label])

    print(len(df))

    # drop the customer ID column in the dataset
    df.drop('customerID', axis=1, inplace=True)

    # converting the labels(y) to numeric labels
    label_encoder = preprocessing.LabelEncoder()
    df[label] = label_encoder.fit_transform(df[label])

    print("\nMissing values :  ", df.isnull().sum().values.sum())

    # get the whitespace  counts and remove them
    get_whitespace_count(df)

    df = df.replace(r'^\s*$', np.NaN, regex=True)

    get_whitespace_count(df)

    print("\nMissing values :  ", df.isnull().sum())

    # converting a single column to float
    # df[cols] = df[cols].apply(pd.to_numeric, errors='coerce') where cols are required columns we want to convert
    df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], downcast="float", errors='coerce')

    #print("\nBefore Missing values :  ", df.isnull().sum())

    # replacing the missing values with mean for total charges
    df['TotalCharges'].fillna(value=df['TotalCharges'].mean(), inplace=True)


    # first we separate the numerical and categorical features
    num_cols = df._get_numeric_data().columns
    columns = df.columns
    categorical_cols = list(set(columns) - set(num_cols))

    print('Numerical Cols: ', num_cols)
    print('All cols:', columns)
    print('categorical_cols:', categorical_cols)

    #print("\After Handling Missing values :  ", df.isnull().sum())

    # converting from categorical features to numerical features
    df = pd.get_dummies(df, columns=categorical_cols)

    num_cols_bin_cands = list(num_cols)
    num_cols_bin_cands.remove('SeniorCitizen')
    num_cols_bin_cands.remove('Churn')
    print(num_cols)

    for col in num_cols_bin_cands:
        print(col)
        df[col] = StandardScaler().fit_transform(df[[col]])

    return df

In [ ]:
df = pd.read_csv('./data/cust_churn.csv')

df = preprocess_churn_data(df, 'Churn')

In [ ]:
df.head()

# Adult income dataset

In [69]:
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
train_df = pd.read_csv('./data/adult-dataset/adult.data', names=columns, header=None, sep=", ", engine='python')
test_df = pd.read_csv('./data/adult-dataset/adult.test',  names=columns, header=None, sep=", ", engine='python')

test_df['income'].replace(regex=True, to_replace=r'\.', value='', inplace=True)
test_df.drop([0], inplace=True)
test_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
1,25,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
2,38,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
3,28,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
4,44,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K
5,18,?,103497.0,Some-college,10.0,Never-married,?,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K

In [70]:
df = pd.concat([train_df, test_df])
df.reset_index(inplace = True, drop = True)

In [71]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  object
 1   workclass       48842 non-null  object
 2   fnlwgt          48842 non-null  float64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  float64
 5   marital-status  48842 non-null  object
 6   occupation      48842 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  float64
 11  capital-loss    48842 non-null  float64
 12  hours-per-week  48842 non-null  float64
 13  native-country  48842 non-null  object
 14  income          48842 non-null  object
dtypes: float64(5), object(10)
memory usage: 5.6+ MB
None

In [72]:
# replacing all '?' with Nan
df.replace('?', np.nan, inplace=True)

In [73]:
df.isnull().sum()

age                  0
workclass         2799
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        2809
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     857
income               0
dtype: int64

In [75]:
# removing Nan from labels
df.dropna(axis=0, subset=['income'])

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419.0,Bachelors,13.0,Divorced,Prof-specialty,Not-in-family,White,Female,0.0,0.0,36.0,United-States,<=50K
48838,64,NaN,321403.0,HS-grad,9.0,Widowed,NaN,Other-relative,Black,Male,0.0,0.0,40.0,United-States,<=50K
48839,38,Private,374983.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
48840,44,Private,83891.0,Bachelors,13.0,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455.0,0.0,40.0,United-States,<=50K
48841,35,Self-emp-inc,182148.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,60.0,United-States,>50K

In [76]:
df['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [77]:
# converting the labels(y) to numeric labels
label_encoder = preprocessing.LabelEncoder()
df['income'] = label_encoder.fit_transform(df['income'])

df.head(20)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,0
1,50,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,0
2,38,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,0
3,53,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,0
4,28,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,0
5,37,Private,284582.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,0
6,49,Private,160187.0,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,0
7,52,Self-emp-not-inc,209642.0,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,1
8,31,Private,45781.0,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,1
9,42,Private,159449.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,1
10,37,Private,280464.0,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0.0,0.0,80.0,United-States,1
11,30,State-gov,141297.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,India,1
12,23,Private,122272.0,Bachelors,13.0,Never-married,Adm-clerical,Own-child,White,Female,0.0,0.0,30.0,United-States,0
13,32,Private,205019.0,Assoc-acdm,12.0,Never-married,Sales,Not-in-family,Black,Male,0.0,0.0,50.0,United-States,0
14,40,Private,121772.0,Assoc-voc,11.0,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,NaN,1
15,34,Private,245487.0,7th-8th,4.0,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0.0,0.0,45.0,Mexico,0
16,25,Self-emp-not-inc,176756.0,HS-grad,9.0,Never-married,Farming-fishing,Own-child,White,Male,0.0,0.0,35.0,United-States,0
17,32,Private,186824.0,HS-grad,9.0,Never-married,Machine-op-inspct,Unmarried,White,Male,0.0,0.0,40.0,United-States,0
18,38,Private,28887.0,11th,7.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,50.0,United-States,0
19,43,Self-emp-not-inc,292175.0,Masters,14.0,Divorced,Exec-managerial,Unmarried,White,Female,0.0,0.0,45.0,United-States,1

In [ ]:
df.dtypes

In [ ]:
get_whitespace_count(df)

### converting 'age' column to numerical value

In [83]:
df['age'] = pd.to_numeric(df['age'], downcast="float", errors='coerce')

In [85]:
df.isnull().sum()

age                  0
workclass         2799
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        2809
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     857
income               0
dtype: int64